<!-- Hero: navbar, header, hero, expert speakers, about, what you will learn -->

<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container">
    <!-- TODO: nav links (Home, About, Speakers, Schedule) -->
    <!-- TODO: Powered By PARAGRAPH -->
  </div>
</nav>

<!-- Header / hero -->
<header id="home" class="bg-warning text-center py-5">
  <div class="container">
    <!-- TODO: title, tagline, Register Now + See Speakers buttons -->
  </div>
</header>

<!-- Three columns -->
<section id="about" class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- TODO: Expert Speakers -->
    </div>
    <div class="col-md-4">
      <!-- TODO: About Full Stack Conf -->
    </div>
    <div class="col-md-4">
      <!-- TODO: What you will Learn -->
    </div>
  </div>
</section>
